#!/usr/bin/env bash
for i in $(ls {{supervisord_profile_dir}}/*.sh 2>/dev/null | sort) ; do
    if [ -r "$i" ]; then
	. $i
    fi
done

{{supervisord_bin_dir}}/supervisord -c /etc/supervisor/supervisord.conf
